<% layout('../template/layout') -%>
          <section class="wrapper site-min-height">
          	
          		<div class="row">
		<div class="col-lg-10">
          	<h3><i class="fa fa-angle-right"></i> 아이관련 영상</h3>
        </div>
        <div class="col-lg-2">
        	<a href="/video/videowrite"><button type="button" class="btn btn-danger" style="margin-top:20px;">비디오 추가하기</button></a>
        </div>
     </div>
          	
          	<div class="row mt">
          		
          
          		
          		<div class="col-lg-12">
          		
					<! -- 1st ROW OF PANELS -->
					<div class="row">
						<!-- TWITTER PANEL -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
								<!--<video style=" width: 100%; height:100%;" autoplay loop="true" src="https://www.youtube.com/embed/L6RBW87HkdY"/>-->
								<iframe width="100%" height="100%" src="https://www.youtube.com/embed/L6RBW87HkdY" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- /col-md-4 -->
						
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
								<iframe width="100%" height="100%" src="https://www.youtube.com/embed/vSBajP1oYHw" onload="resizeFrame(this)" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><!-- /col-md-4 -->
						
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe  width="100%" height="100%" src="https://www.youtube.com/embed/DK-Fmjsk7dI" onload="resizeFrame(this)" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					
						<!-- /col-md-4 -->
					</div><! --/END 1ST ROW OF PANELS -->
					
					<! -- 2ND ROW OF PANELS -->
					<div class="row">
						<! -- TODO PANEL -->
						 <div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/2ggNVbs-Opk" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><! --/col-md-4 -->
					
						<! -- PROFILE 01 PANEL -->
						<div class="col-md-4 col-sm-4 mb">
							<div class="weather pn">
								<i class="fa fa-cloud fa-4x"></i>
								<h2>-4º C</h2>
								<h4>Seoul</h4>
							</div>
						</div><! --/col-md-4 -->
						
						<! -- PROFILE 02 PANEL -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/InEyWVPi3js" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><! --/END 2ND ROW OF PANELS -->
					
					<! -- 3RD ROW OF PANELS -->
					<!-- Product Panel -->
					<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/pGqGQZzmWoQ" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><! --/col-md-4 -->
						
						<! -- Spotify Panel -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe width="100%" height="100%"  src="https://www.youtube.com/embed/WC1wPMopj9A" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><! --/col-md-4-->
					
						<! -- Blog Panel -->
						<div class="col-lg-4 col-md-4 col-sm-4 mb">
							<div class="white-panel pn" style="background:black">
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/zU2lAtuBD2s" frameborder="0" allowfullscreen></iframe>
							</div>
						</div><! -- END 3RD ROW OF PANELS -->
          		
                      

					
          		</div>
          	</div>
			
		</section><! --/wrapper -->

  
