<% layout('template/layout') -%>

<!--<section id="main-content">-->
	<section class="wrapper">
		<div class="row">
			
		<% if(typeof user == 'object' && user) { %>	
		<!--형님 감사합니다.-->
		<div class="col-lg-9 main-chart">
			
		</div>
		<% } else{ %>
			
		<div class="col-lg-9 main-chart" >
		   <div class="container" style="width: 102%;">
			<div class="row">
		    	<div style="margin-top: -20px; margin-left: -15px;" id="carousel-example-generic" class="carousel slide" data-ride="carousel" >	
					<ol class="carousel-indicators">
					  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					   
					</ol>
			
					<div class="carousel-inner" >
					    <div class="item active">
					    
					    <a href="http://www.babyexpo.kr/" target="_blank">
					    		<img src="/uploads/home/home_exh4.jpg" alt="First slide">
					    </a>
					    </div>
					    <div class="item">
					    	
					    	<a href="http://www.momnbabyfair.com/" target="_blank">
					    		<img src="/uploads/home/home_exh2.jpg" alt="second slide">
					    	</a>
					    </div>
					    <div class="item">
						
								<a href="http://www.djbabyfair.co.kr/" target="_blank">
					    		<img src="/uploads/home/home_exh3.jpg" alt="second slide">
					    	</a>
					    </div>
					    <!--<div class="item">-->
					    <!--	<video style=" left: 50%; min-height: 495px; min-width: 1392px; margin-left: -360px; width: 100%;" autoplay loop="true" src="http://media.blizzard.com/heroes/videos/home/header.webm" alt="forth slide"/>-->
					    	<!--min-width: 1392px;-->
					    <!--</div>-->
					</div>
			
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    	<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    	<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
			
		</div>
	
			&nbsp;
			
			  <div class="col-lg-9 main-chart" style="margin-top: -15px; ">
				  <div class="text-center">

		             <div class="menu-item blue col-lg-3" style="float: left; ">
		                  <a class="fancybox" type="image" href="/uploads/home/home_diary.jpg">
		                      <i class="fa fa-edit"></i>
                            	<p>육아일기</p>
                           </a>
		              </div>
		                          
                        
                      <div class="menu-item light-orange col-lg-3" style="float: left; ">
                           	<a class="fancybox" type="image" href="/uploads/home/home_viewer.jpg">
                                 <i class="fa fa-bar-chart-o"></i>
                                    <p>성장뷰어</p>
                             </a>
                      </div>
                       			
                  	<div class="menu-item green col-lg-3 " style="float: left;">
                           	<a class="fancybox" type="image" href="/uploads/home/home_chat.jpg">
                            	 <i class="fa fa-comment-o"></i>
                            	   <p>그룹채팅</p>
                        	</a>
                   	</div>
                        
                     <div class="menu-item light-red col-lg-3 " style="float: left;">
                           	<a class="fancybox" type="image" href="/uploads/home/home_group.jpg">
                             <i class="fa fa-users"></i>
                               	<p>맘스그룹</p>
                           	</a>
                    </div>
                        
                  </div>
                        
            </div>
                   
			
			<% } %>
				
			<% include ./sidebar_r %>
			
			 
        </div>
       
  </section>
<!--</section>-->

 <link rel="stylesheet" type="text/css" href="/css/home.css">