<% layout('template/layout') -%>

<!--<section id="main-content">-->
	<section class="wrapper">
		<div class="row">
			
		<div class="col-lg-9 main-chart">
		   <div class="container" style="width: 102%;">
			<div class="row">
		    	<div style="margin-top: -20px; margin-left: -15px;" id="carousel-example-generic" class="carousel slide" data-ride="carousel" >	
					<ol class="carousel-indicators">
					  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					    <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
					</ol>
			
					<div class="carousel-inner" >
					    <div class="item active">
					    	<!--<img src="/img/sist/main01.jpg" style="min-height: 500px;" alt="First slide">-->
					    	<img src="/img/sist/main01.jpg" alt="First slide">
					    </div>
					    <div class="item">
					    	<!--<img src="/img/sist/main02.jpg" style="min-height: 500px;"  alt="second slide">-->
					    	<img src="/img/sist/main02.jpg"  alt="second slide">
					    </div>
					    <div class="item">
							<!--<img src="/img/sist/main03.jpg" style="min-height: 500px;"  alt="third slide">-->
							<img src="/img/sist/main03.jpg"  alt="third slide">
					    </div>
					    <!--<div class="item">-->
					    <!--	<video style=" left: 50%; min-height: 495px; min-width: 1392px; margin-left: -360px; width: 100%;" autoplay loop="true" src="http://media.blizzard.com/heroes/videos/home/header.webm" alt="forth slide"/>-->
					    	<!--min-width: 1392px;-->
					    <!--</div>-->
					</div>
			
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				    	<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				    	<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
			
		</div>
	
			&nbsp;&nbsp;
			
			<div class="col-lg-9 main-chart">
				<div class="text-center">

		                            <div class="menu-item blue col-lg-3" style="float: left; ">
		                            	<a class="fancybox" type="image" href="/uploads/home/home_diary.jpg">
		                            	  <i class="fa fa-edit"></i>
                            				  <p>육아일기</p>
                            				</a>
		                            </div>
		                          
                        
                        		 <div class="menu-item light-orange col-lg-3" style="float: left; ">
                                   	<a class="fancybox" type="image" href="/uploads/home/home_viewer.jpg">
                                        <i class="fa fa-bar-chart-o"></i>
                                        <p>성장뷰어</p>
                                    </a>
                                </div>
                       			
                       			<div class="menu-item green col-lg-3 " style="float: left;">
                           			<a class="fancybox" type="image" href="/uploads/home/home_chat.jpg">
                            		  <i class="fa fa-comment-o"></i>
                            			  <p>그룹채팅</p>
                        			 </a>
                        	</div>
                        
                    			 <div class="menu-item light-red col-lg-3 " style="float: left;">
                           			<a class="fancybox" type="image" href="/uploads/home/home_group.jpg">
                            			 <i class="fa fa-users"></i>
                                		<p>맘스그룹</p>
                            		</a>
                    			 </div>
                        
                        </div>
                        
                    </div>
                   
				
			<% include ./sidebar_r %>
			
			 
        </div>
       
  </section>
<!--</section>-->

 <link rel="stylesheet" type="text/css" href="/css/home.css">