<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse nav-fixed-top">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
      
      	  <p class="centered"><a href="profile.html"><img src="/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
      	  <h5 class="centered">Marcel Newman</h5>
      	  	
          <li class="mt">
              <a class="active" href="index.html">
                  <i class="fa fa-home"></i>
                  <span>아이러브맘</span>
              </a>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-star"></i>
                  <span>예비맘</span>
              </a>
              <ul class="sub">
            	  <li><a  href="/users">예비맘칼럼</a></li>
                  <li><a  href="general.html">임신백과</a></li>
                  <li><a  href="buttons.html">태교백과</a></li>
                  <li><a  href="panels.html">출산백과</a></li>
                  <li><a  href="panels.html">예비맘TV</a></li>
                  <li><a  href="panels.html">맘아카데미</a></li>
              </ul>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-heart"></i>
                  <span>베이비맘</span>
              </a>
              <ul class="sub">
                  <li><a  href="calendar.html">베이비맘</a></li>
                  <li><a  href="gallery.html">아기돌보기</a></li>
                  <li><a  href="todo_list.html">아기건강</a></li>
                  <li><a  href="todo_list.html">수유/이유식</a></li>
                  <li><a  href="todo_list.html">베이비맘TV</a></li>
                  <li><a  href="todo_list.html">돌잔치</a></li>
                  <li><a  href="todo_list.html">Todo List</a></li>
              </ul>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-cogs"></i>
                  <span>Components</span>
              </a>
              <ul class="sub">
                  <li><a  href="calendar.html">Calendar</a></li>
                  <li><a  href="gallery.html">Gallery</a></li>
                  <li><a  href="todo_list.html">Todo List</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-book"></i>
                  <span>Extra Pages</span>
              </a>
              <ul class="sub">
                  <li><a  href="blank.html">Blank Page</a></li>
                  <li><a  href="login.html">Login</a></li>
                  <li><a  href="lock_screen.html">Lock Screen</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-tasks"></i>
                  <span>Forms</span>
              </a>
              <ul class="sub">
                  <li><a  href="form_component.html">Form Components</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-th"></i>
                  <span>Data Tables</span>
              </a>
              <ul class="sub">
                  <li><a  href="basic_table.html">Basic Table</a></li>
                  <li><a  href="responsive_table.html">Responsive Table</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class=" fa fa-bar-chart-o"></i>
                  <span>성장뷰어</span>
              </a>
              <ul class="sub">
                  <li><a  href="morris.html">Morris</a></li>
                  <li><a  href="chartjs.html">Chartjs</a></li>
              </ul>
          </li>

      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->