<% layout('/template/layout') -%>

<section class="wrapper" align = "center">
  
  
 <video src="http://player.bgmstore.net/Bp6l3" width="422" height="180"  autostart="true" loop="true"  type="application/x-mplayer2"></video>
 <embed src="http://player.bgmstore.net/Bp6l3" width="422" height="180"  autostart="true" loop="true"  type="application/x-mplayer2"></embed>
 <iframe src="http://player.bgmstore.net/Bp6l3" width="422" height="180"  autostart="true" loop="true"  type="application/x-mplayer2"></iframe>
 <bgsound src="http://player.bgmstore.net/Bp6l3" width="422" height="180"  autostart="true" loop="true"  type="application/x-mplayer2"></bgsound>
 <br>
 
 <!--<iframe  width="100%" height="100%" src="http://player.bgmstore.net/Bp6l3" onload="resizeFrame(this)" frameborder="0" allowfullscreen></iframe>-->
 
 <!--<embed src="http://player.bgmstore.net/Sldcr" allowscriptaccess="always" allowfullscreen="true" width="422" height="180"></embed>-->
 <!--<br><a href="http://bgmstore.net/view/Sldcr" target="_blank">BGM정보 : 브금저장소 - http://bgmstore.net/view/Sldcr</a>-->
 
<div>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-backward"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-backward"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-stop"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-play"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-pause"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-forward"></i></a>
    <a href="#" class="btn btn-inverse"><i class="icon-white icon-fast-forward"></i></a>
</div>
</section>