<% layout('template/layout') -%>
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-9 main-chart">
        <h2>title : template test</h2>
        <h3>file  : views/premom.ejs</h3>
        <h3>note  : 예비엄마 페이지 입니다.</h3>
      </div>
        
      <% include ./sidebar_r %>
    </div>
  </section>
</section>