<% layout('../template/layout') -%>

<script src="http://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="http://momentjs.com/downloads/moment-timezone-with-data.js"></script>
<script>
function addNow() {
  nowDate = moment().tz("Europe/London").format('YYYY-MM-DD');
  /*nowTime = moment().tz("Europe/London").format('HH:mm:ss');*/  
  document.getElementById('registration-date').value = nowDate;
  /*document.getElementById('registration-time').value = nowTime;
  set = setTimeout(function () { addNow(); }, 1000);*/
}

/*function stopNow() {
  clearTimeout(set);
}*/    
</script>

<style>
.margin50 {
    margin-top:110px;   
}
</style>

<section class="wrapper" align = "center">
    <form name="user" method="post" action="/photo/write" enctype="multipart/form-data">
  <div style="margin-top:70px;">
	<div>
        <div class="col-md-3 col-md-offset-3">
      
            <div class="form-group registration-date">
              
            	<div class="input-group registration-date-time">
            		<span class="input-group-addon" id="basic-addon1">
            		    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
            		<input class="form-control" name="registration_date" id="registration-date" type="date">
            		
            	</div>
            </div>
       
	</div>
	</div>
</div>

            <div class="col-md-9" >
                <button type="submit" onclick="submitContents(this);" class="btn btn-primary btn-sm" >
                  <span class="glyphicon  glyphicon-ok"></span>글등록
                </button>
            </div>
        </form>

</section>