<% layout('../template/layout') -%>

<section class="wrapper">
    <br>
    <div class= "showback">
        <h4><i class="fa fa-angle-right"></i> 육아 일기</h4>
        <div style="float:right">
        <a href = "/diary/writeform"><button type="button" class="btn btn-info">글쓰기</button></a>
        </div>
    </div>
</section>