<!--footer start-->
<footer class="site-footer">
  <div class="text-center">
      2015.12 ~ 2016.01 - Sist-B2
      <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
      </a>
  </div>
</footer>
<!--footer end-->