<!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
<!--header start-->
<header class="header black-bg">
      <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="메뉴 보기/숨기기"></div>
      </div>
    <!--logo start-->
    <a href="/" class="logo"><b>BABY's NOTE</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <% if(typeof user == 'object' && user) { %>
            <%- include ./notification %>
        <% } %>
    </div>
    <div class="top-menu">
    	<ul class="nav pull-right top-menu">
    	    <% if(typeof user == 'object' && user) { %>
        		<li><a class="logout" href="/users/logout">Logout</a></li>
            <% }else{ %>
                <li><a class="logout" href="/users/login">Login</a></li>
            <% } %>
            
    	</ul>
    	    

    	<ul class="nav pull-right top-menu">
            페이징 : <span id="pagingCnt"></span><br>
            접속중 : <span id="connectCnt"></span><br>
            회원 접속중 : <span id="memberCnt"></span><br>
        </ul>
    </div>
</header>
<!--header end-->