<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse nav-fixed-top">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
      
      	  <p class="centered"><a href="profile"><img src="/img/sist/biga.jpg" class="img-circle" width="60"></a></p>
      	  <h5 class="centered">♥대박이♥</h5>
      	  	
          <li class="mt">
              <a class="active" href="/">
                  <i class="fa fa-home"></i>
                  <span>홈</span>
              </a>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-heart"></i>
                  <span>프리맘</span>
              </a>
              <ul class="sub">
            	  <li><a  href="/music">태교음악</a></li>
                  <li><a  href="/video">태교동영상</a></li>
                  <li><a  href="/beforeinfo">시기별정보</a></li>
                
              </ul>
          </li>

          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-gift"></i>
                  <span>베이비맘</span>
              </a>
              <ul class="sub">
                  <li><a  href="/babycenter">베이비센터</a></li>
                  <li><a  href="/momcenter">맘센터</a></li>
                  <li><a  href="/afterinfo">시기별정보</a></li>
                
              </ul>
          </li>

          <li class="sub-menu">
              <a href="/diary" >
                  <i class="fa fa-pencil"></i>
                  <span>맘스다이어리</span>
              </a>
            
          </li>
          <li class="sub-menu">
              <a href="/calendar" >
                  <i class="fa fa-calendar"></i>
                  <span>캘린더</span>
              </a>
           
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class="fa fa-film"></i>
                  <span>갤러리</span>
              </a>
             <ul class="sub">
                  <li><a  href="/photo">사진</a></li>
                  <li><a  href="/video">동영상</a></li>
                  
              </ul>
          </li>
          <li class="sub-menu">
              <a href="/viewer" >
                  <i class="fa fa-bar-chart-o"></i>
                  <span>성장뷰어</span>
              </a>
             
          </li>
          <li class="sub-menu">
              <a href="javascript:;" >
                  <i class=" fa fa-comment"></i>
                  <span>커뮤니티</span>
              </a>
              <ul class="sub">
                  <li><a  href="/notice">공지사항</a></li>
                  <li><a  href="/qna">Q&A</a></li>
                  <li><a  href="/board">자유게시판</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <a href="/option" >
                  <i class="fa fa-cog"></i>
                  <span>설정</span>
              </a>
             
          </li>

      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->