<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
  <div id="sidebar"  class="nav-collapse nav-fixed-top">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <div style="height: 100px">
          <div style="height: 60px">
        	  <p class="centered"><a href="profile">
        	    <% if(typeof user == 'object' && user) { %>
          	    <img class="img-circle" width="60" height="60" src="/uploads/profiles/<%= user.reserve_2 %>">
          	  <% } else { %>
          	    <img src="/img/sist/biga.jpg" class="img-circle" width="60">
        	    <% } %>
        	  </a></p>
          </div>
            <% if(typeof user == 'object' && user) { %>
          	  <h5 class="centered"><%= user.nick %></h5>
        	  <% } else { %>
          	  <h5 class="centered">♥대박이♥</h5>
      	    <% } %>
        </div>
      	  	
          <li class="mt">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'home') {%>
                <a class="active" href="/">
              <% }else{ %>
                <a href="/">
              <% } %>
                  <i class="fa fa-home"></i>
                  <span>홈</span>
              </a>
          </li>

        <% if(typeof user == 'object' && user) {%>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'diary') {%>
                <a class="active" href="/diary">
              <% }else{ %>
                <a href="/diary/list">
              <% } %>
                  <i class="fa fa-pencil"></i>
                  <span>육아일기</span>
              </a>
            
          </li>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'calendar') {%>
                <a class="active" href="/calendar">
              <% }else{ %>
                <a href="/schedular">
              <% } %>
                  <i class="fa fa-calendar"></i>
                  <span>육아일정계획</span>
              </a>
           
          </li>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'viewer') {%>
                <a class="active" href="/viewer">
              <% }else{ %>
                <a href="/viewer">
              <% } %>
                  <i class="fa fa-bar-chart-o"></i>
                  <span>성장뷰어</span>
              </a>
          </li>
        <% } %>
        
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'premom') {%>
                <a class="active" href="javascript:;" >
              <% }else{ %>
                <a href="javascript:;" >
              <% } %>
                  <i class="fa fa-heart"></i>
                  <span>프리맘</span>
              </a>
              <ul class="sub">
            	  <li><a  href="/music">태교음악</a></li>
                  <li><a  href="/babyvideo">태교동영상</a></li>
                  <li><a  href="/beforeinfo">시기별정보</a></li>
                
              </ul>
          </li>

          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'babymom') {%>
                <a class="active" href="javascript:;" >
              <% }else{ %>
                <a href="javascript:;" >
              <% } %>
                  <i class="fa fa-gift"></i>
                  <span>육아정보</span>
              </a>
              <ul class="sub">
                  <li><a  href="/babycenter">베이비센터</a></li>
                  <li><a  href="/momcenter">맘센터</a></li>
                  <li><a  href="/afterinfo">시기별정보</a></li>
                
              </ul>
          </li>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'gallery') {%>
                <a class="active" href="javascript:;" >
              <% }else{ %>
                <a href="javascript:;" >
              <% } %>
                  <i class="fa fa-film"></i>
                  <span>갤러리</span>
              </a>
             <ul class="sub">
                  <li><a  href="/photo">사진</a></li>
                  <li><a  href="/video">동영상</a></li>
                  
              </ul>
          </li>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'community') {%>
                <a class="active" href="javascript:;" >
              <% }else{ %>
                <a href="javascript:;" >
              <% } %>
                  <i class=" fa fa-comment"></i>
                  <span>커뮤니티</span>
              </a>
              <ul class="sub">
                  <li><a  href="/board/notice">공지사항</a></li>
                  <li><a  href="/qna">Q&A</a></li>
                  <li><a  href="/board">자유게시판</a></li>
              </ul>
          </li>
          <li class="sub-menu">
              <!--EJS 태그 선택된 메뉴 활성화-->
              <% if(page === 'option') {%>
                <a class="active" href="/option">
              <% }else{ %>
                <a href="/option">
              <% } %>
                  <i class="fa fa-cog"></i>
                  <span>설정</span>
              </a>
             
          </li>

      </ul>
      <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->