<!--  notification start -->
        <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="/">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-theme">6</span>
                </a>
                <ul class="dropdown-menu extended tasks-bar">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">You have 4 pending tasks</p>
                    </li>
                    <li>
                        <a href="/">
                            <div class="task-info">
                                <div class="desc">우리 아기 성장 그래프</div>
                                <div class="percent">40%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html#">
                            <div class="task-info">
                                <div class="desc">우리 아기 건강도</div>
                                <div class="percent">60%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html#">
                            <div class="task-info">
                                <div class="desc">Product Development</div>
                                <div class="percent">80%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html#">
                            <div class="task-info">
                                <div class="desc">Payments Sent</div>
                                <div class="percent">70%</div>
                            </div>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Complete (Important)</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="external">
                        <a href="#">See All Tasks</a>
                    </li>
                </ul>
            </li>
            
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
                <a id="hr_icon_msg" data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                    <i class="fa fa-envelope-o"></i>
                    <span id="cnt_newmsg" class="badge bg-theme"></span>
                </a>
                <ul class="dropdown-menu extended inbox">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li id="hr_msglist">
                        <p class="green">You have <span></span>new messages</p>
                    </li>
                    <!--user[1].forEach(function(m){ -->
                        <!--<li>-->
                        <!--    <a href="index.html#">-->
                        <!--        <span class="photo"><img alt="avatar" src="/uploads/profiles/"></span>-->
                        <!--        <span class="subject">-->
                        <!--            <span class="from">name</span>-->
                        <!--            <span class="time">wday</span>-->
                        <!--        </span>-->
                        <!--        <span class="message">msg</span>-->
                        <!--    </a>-->
                        <!--</li>        -->
                     <!--}); -->
                    <li>
                        <a href="index.html#">See all messages</a>
                    </li>
                </ul>
            </li>
            <!-- inbox dropdown end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle logout" href="#" style="margin-top: 0px;" OnClick="document.getElementById('hr_msg').focus();">
                    <!--<i class="btn btn-default btn-xs">Send</i>-->Send
                    
						<!--<button type="button" class="btn btn-default">Default</button>-->
                    <!--<span class="badge bg-theme">send</span>-->
                </a>
                <ul class="dropdown-menu extended inbox" style="width: 500px !important; max-width: 500px !important;">
                    <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                        <p class="green">메세지 작성</p>
                    </li>
                    <li>
                        <div style="padding: 15px 10px !important; width:100%; display: inline-block;">
                            <!--<form class="form-horizontal style-form" method="post" action="/user/sendMessage">-->
                            <!--<form class="form-horizontal style-form" id="hr_form">-->
                                <div class="form-group" style="margin-bottom: 0px; pedding-bottom: 0px;">
                                    <div class="col-sm-12" style="margin-bottom: 10px;">
                                        <div class="col-sm-2">
                                            <label class="control-label">메세지</label>
                                        </div>
                                        <div class="col-sm-10">
                                            <input id="hr_msg" name="hr_msg" type="text" class="form-control" placeholder="message" autofocus/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-bottom: 10px;">
                                        <div class="col-sm-2">
                                            <label class="control-label">받는이</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input id="hr_tocli" type="text" class="form-control" placeholder="nick-name or e-mail.."/>
                                        </div>
                                        <div class="col-sm-2">
                                            <input id="hr_send" style="padding: 7px 10px !important; float: left; width:50px ;" type="submit" class="btn btn-default btn-xs" value="Send"/>
                                        </div>
                                    </div>
                                    
                                </div>
                            <!--</form>-->
                        </div>
                    </li>
                </ul>
            </li>
            <!-- inbox dropdown end -->
        </ul>
        <!--  notification end -->